@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}

:root {
    --midnightblue: #2c3e50;
    --silver: #bdc3c7;
    --asbestos: #7f8c8d;
    --concrete: #95a5a6;
    --peter_river: #5db1ea;
    --belize_hole: #2980b9;
    --nephritis: #27ae60;
    --alizarin: #e74c3c;
    --pomegranate: #c0392b;
}

body {
    background-color: var(--silver);
}

.themeSombre body {
    background-color: var(--midnightblue);
}

header {
    background-color: var(--asbestos);
    border-radius: 20px 20px 0px 0px;
}

main {
    min-height: 100vh;
    width: 980px;
    background-color: white;
    border-radius: 20px;
}

.themeSombre main{
    background-color: var(--concrete);
}

button {
    border: none;
}

.margin_auto {
    margin: auto;
}

.flex {
    display: flex;
}

.justify_center {
    justify-content: center;
}

.menu {
    background-color: var(--belize_hole);
    width: 15%;
    margin: 10px;
    vertical-align: middle;
    list-style: none;
    border-radius: 50px;
}

.themeSombre .menu {
    background-color: var(--alizarin);
}

.menu a {
    text-align: center;
    color: white;
    width: 100%;
    padding: 5%;
    text-decoration: none;
}

.themeSombre .menu a {
    color: black;
}

.menu:hover {
    background-color: var(--nephritis);
    transition: all 0.3s;
}

.themeSombre .menu:hover {
    background-color: var(--pomegranate);
}

.menu:not(:hover) {
    transition: all 0.3s;
}

.button_class {
    background-color: var(--belize_hole);
    vertical-align: middle;
}

.button_class:hover {
    background-color: var(--nephritis);
    cursor: pointer;
}

.button_class:hover, .button_class:not(:hover) {
    transition: all 0.3s;
}

#div_connection, #div_traitement {
    margin: 10px;
    margin-top: 50px;
    align-items: center;
    align-content: center;
}

#button_connection {
    color: white;
    border-radius: 50px;
    padding: 4%;
}

#button_tryagain {
    font-size: 25px;
    color: white;
    border-radius: 50px;
    width: 100px;
    padding: 1%;
}

#div_tryagain{
    flex-direction: column;
}